/* J&L Associates | Stylesheet */

.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
.col1{
	width: 100%;
}
.col3{
	width: -webkit-calc(100% / 3);
	width: -moz-calc(100% / 3);
	width: calc(100% / 3);
	width: 33.33333333%
}
.col3x2{
	width: -webkit-calc((100% / 3) x 2);
	width: -moz-calc((100% / 3) x 2);
	width: calc((100% / 3) x 2);
	width: 66.66666666%
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.spacer::after{
	content: "";
	display: block;
	clear: both;
}
